nav {
    min-height: 60px;
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    transition: 0.3s ease-in-out;
    position: relative;
    .brand {
      a {
        color: var(--theme-color);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 3rem;
        fill: none;
        margin: 2rem 0;
        cursor: pointer;
        outline: 2px dashed transparent;
        transition: 0.3s ease-in-out;
        &:hover {
          fill: #64fad91a;
        }
        &:focus {
          outline-color: var(--theme-color);
          fill: #64fad91a;
        }
      }
    }
    .nav-items{
        display: flex;
        gap: 3rem;
        color: var(--lightest-slate);
        font-size: vat(--tsm1);
        counter-reset: nav-list;
        font-family: var(--fira-code) ;
        &-list{
            display: flex;
            gap: 3rem;
            list-style-type: none;
            &-item{
                a{
                    color: inherit;
                    text-decoration: none;
                    padding: 10px;
                    transition: 0.3s ease-in-out;
                    &::before{
                        counter-increment: nav-list;
                        content: "0" counter(nav-list) ". ";
                        color: var(--theme-color); 
                    }
                }
                a:focus {
                    outline-color: var(--theme-color);
                }
                a:hover {
                    color: var(--theme-color);
                }
            }
        }
    }
}
}